.sobreSite{
    background-image: url(../img/CS2BG.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    width: 100%;
    background-color: blue;
}
#textoSobre{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 20px;
    align-items: center;
    
}
#textoSobre>p{
    padding: 20px;
    text-align: justify;
    border-radius: 20px;
    align-items: center;
    
}
.sobreSite>div{
    display: flex;    
    width: 50%;
    position: relative;
    height: auto;
    right: 0;
    justify-content: center;
}

#img01Site{
    bottom: 10px;
    padding: 20px;
    width: 50%;
}
#img01Site:hover{
    width: 90%;
}
#img02Site{
    position: absolute;
    bottom: -30px;
    width:80%;
}
